body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display:contents;
    justify-content: center;
    /*align-items: flex-start;*/ /* Alinear la barra lateral al inicio */
    /*min-height: 100vh;*/
    overflow-x: hidden; /* Ocultar desbordamiento en el eje X */
}

.sidebar {
    position: fixed;
    left: 0; /* Mover la barra lateral a la izquierda */
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff; /* Fondo blanco para mayor contraste */
    padding: 20px;
    transition: left 0.5s ease; /* Animación suave */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.sidebar h2 {
    color: #0077be; /* Color del título */
    margin-bottom: 10px; /* Espacio debajo del título */
}

#search-input {
    width: 100%;
    padding: 5%;
    margin-bottom: 10%;
    display: block;
    text-align: center;
    border-radius: 20px; /* Bordes redondeados */
    border: 1px solid #0077be; /* Borde del mismo color que el tema */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    outline: none; /* Quitar contorno al enfocar */
    transition: border-color 0.3s; /* Animación de color de borde */
}

#search-input:focus {
    border-color: #005c8f; /* Cambiar color del borde al enfocar */
}

#embalse-grafica {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 8px; /* Bordes redondeados para la gráfica */
    overflow: hidden; /* Prevenir desbordamiento */
}

#embalse-detalles {
    margin-bottom: 20px;
}

#embalse-detalles p {
    margin: 5px 0;
}

#map {
    position: fixed;
    top: 7%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Define el tamaño completo de la ventana */
html, body {
    height: 100%;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.container {
    position:absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: 19%;
    margin-right: 0;
    width: 100%;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.search-bar {
    margin-top: 0.7%;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.search-bar input {
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-top: 1px solid #444;
    }

    .menu-toggle {
        display: flex;
    }
}