<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💧💧💧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Derivada y al Mínimo 💧</h1>
        <div class="emoji">🚰🌊🏊‍♂️</div>
        <p>Track your daily water intake and stay hydrated!</p>
        <button class="button" onclick="showSidebar()">Start Tracking 📊</button>
    </div>

    <!-- Barra lateral -->
    <div id="sidebar" class="sidebar">
        <h2 id="embalse-nombre">Nombre del embalse</h2>
        <div id="embalse-detalles">
            <p>Ubicación: <span id="embalse-ubicacion"></span></p>
            <p>Capacidad: <span id="embalse-capacidad"></span> hm³</p>
        </div>
        <canvas id="embalse-grafica"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
